.card {
    background: linear-gradient(white, rgb(179, 177, 177));
    border: solid 2px rgb(117, 117, 117);
    cursor: pointer;
    height: 200px;
    margin: .5rem;
    position: relative;
    transition: 0s box-shadow;
    width: 200px;
    box-shadow: 0px 3px 3px 0px rgba(0,0,0,.3);
}

.card > .img-container {
    height: 100%;
    overflow: hidden;
    text-align: center;
}

.card > .img-container > img {
    width: 100%
  }

.card:hover {
    box-shadow: 4px 8px 5px 0px rgba(0,0,0,.4);
    transform: scale(1.025);
    transition: .15s box-shadow transform;
    z-index: 20;
}


/* MEDIA QUERIES */
@media (max-width: 1335px) {
    .card {
        height: 175px;
        width: 175px;
    }
}

@media (max-width: 1185px) {
    .card {
        height: 150px;
        width: 150px;
    }
}

@media (max-width: 1140px) {
    .card {
        height: 140px;
        width: 140px;
    }
}

@media (max-width: 985) {
    .card {
        height: 125px;
        width: 125px;
    }
}

@media (max-width: 575) {
    .card {
        height: 55px;
        width: 55px;
    }
}